tag-emacs-old/emacs.d/elpa/
tag-emacs-old/emacs.d/files/backups/*~
tag-emacs-old/emacs.d/recentf
vim/.netrwhist
vim/files/backups/
vim/files/swaps/
vim/files/undo/
vim/plugged/
vim/viminfo
*.journal
*.log
