config/kitty/kitty.conf.bak
tag-emacs/config/doom/autoload/
tag-emacs/config/doom/packages.el
tag-emacs-old/emacs.d/elpa/
tag-emacs-old/emacs.d/files/backups/*~
tag-emacs-old/emacs.d/recentf
vim/.netrwhist
vim/files/backups/
vim/files/swaps/
vim/files/undo/
vim/plugged/
vim/spell/*.spl
vim/viminfo
*.journal
*.log
